@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home";
}

<div class="book-deck">
    @foreach (var book in Model) {

        <div class="col-3 book" value="@book.Id">
            <div class="book-header">
                <h5>@book.Title</h5>
            </div>
            <div class="book-body">
                <div class="book-body-image">
                    <img src="img/books/@book.CoverImage" alt="@book.Title" />
                </div>
            </div>
            <div class="book-footer">
                <p>
                    By @book.Author.FirstName @book.Author.LastName<br/>
                    @book.Genre.Name
                </p>
            </div>
        </div>
    }
</div>
